<div class="table-responsive">
    <table class="table table-striped" style="border: 1px solid #454d55">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Pays</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each country}}
            <tr>
                <td>{{code}}</td>
                <td><button class="btn btn-secondary" style="margin-right: 5px" onclick="$('.{{code}}-athletes').toggle()">Liste des athlètes</button></td>
            </tr>
            {{#each athletes}}
            <tr class="collapse {{../code}}-athletes">
                <td>{{firstName}} {{lastName}}</td>
                <td></td>
            </tr>
            {{/each}}
            {{/each}}
        </tbody>
    </table>
    {{^country}}
        <span>Pas de données</span>
    {{/country}}
</div>